.a{
    height: 100vh;
    display: flex;
    background: linear-gradient(45deg,
    rgba(218, 126, 124, 0.75),
    rgba(113, 164, 215, 0.75)), url('/public/images/typing.jpg');
    /* display: flex; */
    /* align-items: center; */
}
.a h1{
    margin-left: 750px;
    font-size: 40px;
}
.a .a-wrapper .feature-head{
    font-size: 35px;
    padding-left: 50px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
.a .a-wrapper .a-text{
   margin-top: 0px;
   width: 60%;
   text-align: center;
   align-items: center;
   padding-left: 300px;
   overflow: hidden;
   font-size: 18px;
}
/* .a .a-wrapper .a-text{
    font-weight: bolder;
} */
.a .features{
    display: flex;
}