.main-Footer{
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(63, 54, 54);
    /* display: flex; */
}

.row{
    display: flex;
    margin-left: 180px;
}

.col{
    margin-left: 140px;
    padding-left: 30px;
    align-items: center;
    text-align: center;
}

.col .list-unstyled .list-heading{
    color: rgb(223, 121, 33);
    font-size: 20px;
    font-weight: 600px;
}

.col .list-unstyled {
    list-style-type: none;
    text-decoration: none;
    align-items: center;
    text-align: center;
    
}
.col .list-unstyled .social-media{
    color: white;
    text-decoration-line: none;
}
.row-bottom {
    display: flex;
    margin-left: 270px;
}

.row-bottom .col-sm{
    padding-left: 190px;
}

.list-heading {
    font-weight: bold;
    margin: 10px;
}