.App {
    text-align: center;
  }
  
  .correct{
    font-weight: bold;
    color: rgb(3, 92, 3);
    /* background-color: black; */
  }
  
  .incorrect{
    font-weight: bold;
    color: rgb(201, 9, 9);
    /* background-color: black; */
  }
  
  .active{
    font-weight: bold;
    
  }
  .timer{
    font-size: 25px;
    /* font-weight: 500px; */
  }