.textregion{
    
    border-radius: 6px 6px 6px 6px;
    border-width: 3px;
    border-color: -moz-use-text-color #6c5f5f #695b5b -moz-use-text-color;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12) inset;
    color: #443a3a;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    line-height: 1.2em;
    
}
.submit{
    height:"40px";
    width:"90px" ;
    
}