.a{
    height: 120vh;
    overflow: hidden;
    display: flex;
    background: linear-gradient(45deg,
    rgba(218, 126, 124, 0.75),
    rgba(113, 164, 215, 0.75)), url('/public/images/typing.jpg');
    
}
.a h1{
    position: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
}
.a .a-wrapper .feature-head{
    font-size: 30px;
    padding-left: 50px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 16px;
}
.a .a-wrapper .a-text{
   margin-top: 0px;
   width: 60%;
   text-align: center;
   align-items: center;
   padding-left: 300px;
   overflow: hidden;
   font-size: 20px;
   margin-left: 25px;
}
/* .a .a-wrapper .a-text{
    font-weight: bolder;
} */
.a .features{
    display: flex;
    margin-top: -8px;
}