.card{
    margin-left: 22px;
    padding-left: 16px; 
    /* margin-right: 20px; */
    /* padding-right: 7px; */
    padding-top: 16px;
    margin-top: -30px;
}
.card .card-style{
    width: 20rem;
}
.card .card-img{
    width: 18rem;
    height: 18rem;
    border: 3px solid white;
    border-radius: 12px;
}
.card .card-title{
    color: rgb(177, 36, 52);
    font-size: 23px;
    font-weight: bold;
}
.card .card-text{
    color: black;
    font-size: 19px;
    font-weight: bold;
}