.main-Footer{
    color: white;
    background-color: rgb(56, 46, 46);
}

.list-unstyled {
    list-style-type: none;
    text-decoration: none;
    align-items: center;
    text-align: center;
}

.list-unstyled .list-heading{
    font-size: 22px;
    color: rgb(224, 156, 68);
    font-weight: bold;
    margin: 10px;
}

.list-unstyled .social-list{
    color: white;
    text-decoration-line: none;
}

.privacy {
    text-align: center;
}