body {
  margin: 0;
  font-family: 'Baloo Bhai 2', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.timer{
  margin-left: 30px;
  position: relative;
  font-size: 41px;
}

.results{
  /* padding-top: 10px; */
  margin-top: 4px;
  text-align: center;
}

.results .res-heading{
  display: inline;
  padding: 30px;
  color: black;
  font-size: 20px;
  font-weight: 600;
  /* padding-top: 10px;
  margin-top: 10px; */
}

.para {
  text-align: center;
  font-weight: lighter;
  /* background-image: url("C:\Typometer\Typometer\public\images\typing4.jpeg"); */
  /* width: 100vh; */
  /* background: #25d366; */
  /* height: 100vh; */
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.para li {
  list-style-type: none;
  font-weight: normal;
}

.para p {
  text-align: center;
  /* width: 40%; */
  /* border: 2px solid red; */
  font-weight: 600;
  font-size: 22px;
  padding: 5px;
  margin: 50px;
  margin-top: 7px;
  color: black;
  /* position: fixed; */
  /* margin-left: 500px; */
}

.para .heading{
  text-align: center;
  font-size: 40px;
  /* margin-left: 3px; */
  font-weight: bold;
  color: black;
  cursor: pointer;
}
.para .butt{
    border: 2px solid black;
    /* padding: 15px; */
    margin-top: -59px;
    margin-bottom: 10px;
    margin-left: -80px;
    border-radius: 5px;
    font-size:large;
    background-color: #25d366;
    font-weight: 500;
    margin-right: 25px;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 140px;
    color: rgb(27, 33, 34);
    cursor: pointer;
    position: relative;
}
.para .textregion{
  background-color: #dddddd;
  color: #666666;
  padding: 1em;
  border-radius: 10px;
  border: 2px solid rgb(54, 54, 183);
  outline: none;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.4;
  width: 700px;
  height: 230px;
  margin-right: 67px;
  margin-top: -80px;
  transition: all 0.2s;
}
.para .textregion:hover {
  cursor: pointer;
  background-color: #eeeeee;
}
.para .textregion:focus {
  cursor: text;
  color: #333333;
  background-color: white;
  border-color: #333333;
}
.para .submit{
  border: 2px solid black;
  /* padding: 7px; */
  border-radius: 5px;
  font-size:large;
  background-color: #d0e55b;
  font-weight: 500;
  margin-top: -10px;
  margin-right: 97px;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100px;
  color: rgb(27, 33, 34);
  cursor: pointer;
  
}
.para .submit a{
  text-decoration: none;
  text-decoration-line: none;
  color: black;
  font-weight: 600;
}