.topbarContainer {
    height: 50px;
    width: 100%;
    background-color:rgb(67, 65, 64);
    display: flex;
    align-items: center;
    position: static;
    top: 0px;
    z-index: 999;
}

.topbar-left {
    flex: 3;
}

.logo {
    font-size: 27px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.topbar-link {
    margin: 0 20px;
    font-size: 18px;
    cursor: pointer;
    list-style-type: none;
    display: inline-block;
}

.topbar-link a {
    color: white;
    text-decoration-line: none;
}

.topbar-link:hover {
    color: aqua;
}

.topbar-links {
    margin-right: 40px;
    margin-top: 10px;
    color: white;
}

.topbarIcons {
    display: flex;
}

.topbar-links .logout {
    border: none;
    background-color: rgb(67, 65, 64);
    color: white;
    font-family: 'Baloo Bhai 2', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    font-size: 18px;
}

.account-icon {
   position: relative;
   top: 0px;
}

i span {
    position: relative;
    top: 18px;
    font-size: 12px;
    right: 26px;
}

@media (min-width: 768px) and (max-width: 992px) {
    .topbar-links {
        margin-right: 10px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .logo {
        font-size: 20px;
    }

    .topbar-links {
        margin-right: 10px;
    }

    .topbar-links .logout {
        font-size: 14px;
    }

    .topbar-link {
        margin-left: 5px;
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    .logo {
        font-size: 16px;
    }

    .topbar-links {
        margin-right: 0px;
    }

    .topbar-links .logout {
        font-size: 14px;
    }

    .topbar-link {
        margin-left: 5px;
        font-size: 14px;
    }
}